[submodule "lib/libft"]
	path = lib/libft
	url = https://github.com/Tentanus/libft
[submodule "lib/mlx"]
	path = lib/mlx
	url = https://github.com/codam-coding-college/MLX42
	ingnore = dirty
[submodule "lib/printf"]
	path = lib/printf
	url = git@github.com:Tentanus/printf.git
